.navbar{
    background-color: #F8F8F8;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.nav_opt{
    color:#53a937;
    font-weight: semi-bold;
    font-size: 110%;
}

.nav_opt:hover{
    color: #078534;
    font-weight: bolder;
}

.kaushan_script_regular {
    font-family: "Kaushan Script", cursive;
    font-style: normal;
}


.login_btn{
    background-color: #078534;
    color: white;
}


  