.header1{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    color: #2b6242;
}

.header2{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    color: #2b6242;
}

.line {
    border-top: solid 0.17rem black;
    width: 90%;
    margin: 2% auto 0 auto;
  }