.person_name {
  font-size: larger;
  font-weight: 600;

}

.list_item {
  cursor: pointer;
  transition: transform 0.1s linear, box-shadow 0.1s linear;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.list_item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}


.blk_btn {
  background-color: rgb(246, 246, 246);
  color: #ff5900;
  /* color: wheat; */
}

.blk_btn:hover {
  background-color: #ff5900;
  color: white;
  /* color: wheat; */
}

.blk_btn:active {
  background-color: red;
}

.home {
  background-color: #f0f0f0;
}

.view_btn {
  background-color: rgb(246, 246, 246);
  color: #0ac100;
  /* color: wheat; */
}

.view_btn:hover {
  background-color: #0ac100;
  color: white;
  /* color: wheat; */
}

.verified_badge {
  display: inline-block;
  padding: 4px 8px;
  background-color: green;
  color: white;
  border-radius: 4px;
  text-align: center;
}

.not_verified_badge {
  display: inline-block;
  padding: 4px;
  background-color: red;
  color: white;
  border-radius: 4px;
  text-align: center;
}