.topCard {
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.topRow {
  display: flex;
  flex-direction: row;
  padding: 1%;
}

.topContainer {
  max-width: 20%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 420px) {
  .topRow {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 420px) {
  .topContainer {
    max-width: 80%;
  }
}

/* Increase specificity for canvas inside .chart */
.chart canvas {
  height: 400px !important; /* Adjust height as needed */
  width: 100% !important; /* Adjust width as needed */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .chart canvas {
    width: 200px !important;
    height: 150px !important; /* Adjust height for smaller screens */
  }
}
