.form-container {
    width: 80%;
    margin: 8% auto auto 20%;
    padding: 30px;
    background-color: #6c6a6a58;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.333);
}

.form-label-half {
    padding: 1.5%;
    margin: auto auto 10px auto;
    font-weight: bold;
    width: 50%;
}

.form-label-full {
    padding: 1.5%;
    margin: auto auto 10px auto;
    font-weight: bold;
    width: 75%;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #a3a3a3;
    border-radius: 3px;
    box-sizing: border-box;
    border-radius: 10px;

}

.form-container textarea {
    display: block;
    width: 135%;
    height: 200px;
    padding: 2%;
    margin-bottom: 15px;
    border: 1px solid #a3a3a3;
    border-radius: 3px;
    box-sizing: border-box;
    border-radius: 10px;
}

.form-button {
    display: block;
    width: 45%;
    margin: auto;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #888888;
}

.form-address-button {
    display: inline;
    width: 20%;
    margin: auto auto auto 2%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #888888;
}

.form-container button:hover {
    background-color: #45a049;
}

.form-header {
    margin: 0% 2% 5% 2%;
    text-align: center;
}