.img_fluid {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 300px) {
  img_fluid {
    max-width: 200px;
    height: auto;
  }
}

.btn_secondary {
  width: 30%;
  height: 20%;
  background-color: #2545e3;
  color: white;
  text-align: center;
  padding: 0;
}
.btn_secondary:hover {
  background-color: rgb(3, 126, 226);
  color: white;
}
.form_label {
  font-weight: bold;
}

.btn_primary {
  margin-top: 1rem;
  width: 30%;
  background-color: #078534;
  color: white;
}

.btn_primary:hover {
  background-color: rgb(27, 197, 86);
  color: white;
}

.driveDetailsDiv {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 8px;
}
